<div id="stations_index">
  <%= render :partial => 'station_list', :locals => {:action_name => 'ladder_index'} %>
  <%= render :partial => 'equipment_list', :locals => {:action_name => 'show_list_of_result'} %>
</div>
