<div id="stations_index">
  <%= render :partial => 'station_list', :locals => {:action_name => 'operator_index'} %>
  <%= render :partial => 'equipment_list', :locals => {:action_name => 'show_scheduled_checks'} %>
</div>
