<div id="shared_footer">
  このエリアは、、点検者の心構えや、点検時の留意事項など、システムで設定されたメッセージを表示する場合に使用します。<br />
  <br />
  <span style="color:#fff;font-size:14pt;margin-left:10px">画面をスクロールする場合は、２本の指で画面に触れ、スクロールした方向にスライドしてください。</span>
</div>